{% extends "user_layout.html" %}

{% block y %}
{% if session.name %}
<style>
  input[type=text], select {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .divback {
    border-radius: 10px;
    background-color: #f5f6f8;
    padding: 20px;
    margin: 10px;
    position: relative;
    height:auto;
  }

  


 
  
  </style>

    <!-- <div class="row"> -->
      <div>
        {% if transfermsg %}
        <div align="center" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>{{ transfermsg }}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="window.location.href='/transfer'"></button>
        </div>
        {% endif %}
      <div class="divback">
        {% if messages %}
       <form action="{{ url_for('transfer.onetime_transfer') }}" method="post" >
          <h2>Fund Transfer</h2>
          <select name="Benificary">
            <option >Choose Account:</option>
          {% for row in data %}
            {% for cell in row %}
            <option value="{{ cell }}" >{{ cell }}</option>
          {% endfor %}
          {% endfor %}
          </select>
          <br><input type="text" id="lname" name="amount" placeholder="Amount" onkeypress="return onlyNumberKey(event)">
          <br><input type="submit" formaction="/api/v1/beneficiarytransferfund" value="Transfer" onclick="openPopup()">
        </form>
        {% endif %}
        <h4 align="center">{{messages1}}</h4>
      </div> 
      </div> 
      
<!-- partial -->
  <script  src="/static/script.js"></script>

 <!-- Welcome to Citibank {{ session.name }} <a href="/logout">logout</a>. -->
 <script>
 


</script>
{% else %}
<meta http-equiv="refresh" content="2 ; url =/login" /> 
	You are not Register. <a href="/login">login</a>.
{% endif %}
{% endblock %}